@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3eee4;
}

* {
  font-family: "Rubik";
  color: #1c2334;
}

.divider {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 100%);
}