@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f1eb;
}

.divider {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 100%);
}